<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.employee.dao.mapper.EmployeeDOExpansionMapper">
	<!-- 自定义 -->
	<resultMap id="employAndHsbcResultMap" type="com.chinasoft.employee.dao.entity.EmployeeAndHsbcDO" >
		<id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
		<!--b_employee--> <!-- <result column="PK_ID" property="pkId" /> -->
		<result column="USER_ID" property="userId" />
		<result column="E_HR" property="eHr" />
		<result column="LOB" property="lob" />
		<result column="STAFF_NAME" property="staffName" />
		<result column="RM_USER_ID" property="rmUserId" />
		<result column="STAFF_REGION" property="staffRegion" />
		<result column="STAFF_LOCATION" property="staffLocation" />
		<result column="ROLE" property="role" />
		<result column="SKILL" property="skill" />
		<result column="ENGAGEMENT_TYPE" property="engagementType" />
		<result column="BILL_RATE_TYPE" property="billRateType" />
		<result column="BILL_CURRENCY" property="billCurrency" />
		<result column="BILL_RATE" property="billRate" />
		<result column="EMPLOYEE_TYPE" property="employeeType" />
		<result column="RESOURCE_STATUS" property="resourceStatus" />
		
		<result column="GRADUATION_DATE" property="graduationDate" />
		<result column="ENTRY_DATE" property="entryDate" />
		<result column="Email" property="email" />
		<result column="CSI_PRO_NUMBER" property="csiProNumber" />
		<result column="CSI_PRO_STARTDATE" property="csiProStartdate" />
		<result column="CSI_PRO_NAME" property="csiProName" />
		<result column="ITINDUSTRY_WORK_YEAR" property="itindustryWorkYear" />
		<result column="TERMINATION_DATE" property="terminationDate" />
		<result column="REASON_FOR_TERMINATION" property="reasonForTermination" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="BACKBONE" property="backBone" />
		<result column="ASSESSED" property="assessed" />
		
		<!--b_hsbc_employee-->
		<result column="EMPLOYEE_ID" property="employeeId" />
		<result column="HSBC_STAFF_ID" property="hsbcStaffId" />
		<result column="LN" property="ln" />
		<result column="LOCATION_TYPE" property="locationType" />
		<result column="ONSHORE_OR_OFFSHORE" property="onshoreOrOffshore" />
		<result column="GB_GF" property="gbGf" />
		<result column="HSBC_SUBDEPT_ID" property="hsbcSubdeptId" />
		<result column="HSBC_THRID_DEPT_ID" property="hsbcThridDeptId" />
		<result column="HSBC_MANAGER" property="hsbcManager" />
		<result column="SOW" property="sow" />
		<result column="SOW_EXPIRED_DATE" property="sowExpiredDate" />
		<result column="HSBC_DOJ" property="hsbcDoj" />
		<result column="HSBC_POD" property="hsbcPod" />
		<result column="PODTL" property="podtl" />
		
		<result column="TL_TYPE" property="tlType" />
		<result column="HSBC_PROJECT_NAME" property="hsbcProjectName" />
		<result column="STAFF_CATEGORY" property="staffCategory" />
		<result column="MENTION_LWD" property="mentionLwd" />
		<result column="MSA_ROLE" property="msaRole" />
		<result column="MS_LEVEL" property="msLevel" />
		
		<!--b_user_role-->
		<result column="ROLE_ID" property="roleId"/>
		<result column="USER_TYPE" property="userType"/>
		<result column="CSDEPT_ID" property="csdeptId" />
		<result column="DELETED" property="deleted" />
		<!--b_cs_dept-->
		<result column="CS_DEPT_NAME" property="csDeptName" />
  	</resultMap>
  	<resultMap id="employeeAndUserRoleDO" type="com.chinasoft.employee.dao.entity.EmployeeAndUserRoleDO" >
		<result column="LOB" property="lob" />
		<result column="E_HR" property="eHr" />
		<result column="STAFF_NAME" property="staffName" />
		<result column="USER_TYPE" property="userType" />
		<result column="CSDEPT_ID" property="csdeptId" />
		<result column="Email" property="email" />
	</resultMap>
	
	<resultMap id="ehrAndEmpIdDO" type="com.chinasoft.employee.dao.entity.EhrAndEmpIdDO" >
		<result column="PK_ID" property="pkId" />
		<result column="E_HR" property="eHr" />
	</resultMap>
	<resultMap id="userRoleDO" type="com.chinasoft.employee.dao.entity.UserRoleIdDO" >
		<result column="PK_ID" property="pkId" />
	</resultMap>
  	<sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 14 14:30:12 CST 2019.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="RM_User_Column_List_1">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 14 14:30:12 CST 2019.
    -->
    b_employee.PK_ID,
	E_HR,
	LOB,
	STAFF_NAME,
	RM_USER_ID,
	STAFF_REGION,
	STAFF_LOCATION,
	ROLE,
	SKILL,
	ENGAGEMENT_TYPE,
	BILL_RATE_TYPE,
	BILL_CURRENCY,
	BILL_RATE,
	EMPLOYEE_TYPE,
	RESOURCE_STATUS,
	GRADUATION_DATE,
	ENTRY_DATE,
	Email,
	CSI_PRO_NUMBER,
	CSI_PRO_STARTDATE,
	CSI_PRO_NAME,
	ITINDUSTRY_WORK_YEAR,
	TERMINATION_DATE,
	REASON_FOR_TERMINATION,
	b_employee.CREATE_TIME,
	b_employee.UPDATE_TIME,
	BACKBONE,
	ASSESSED,
			
	b_hsbc_employee.EMPLOYEE_ID,
	HSBC_STAFF_ID,
	LN,
	LOCATION_TYPE,
	ONSHORE_OR_OFFSHORE,
	GB_GF,
	HSBC_SUBDEPT_ID,
	HSBC_THRID_DEPT_ID,
	HSBC_MANAGER,
	SOW,
	SOW_EXPIRED_DATE,
	HSBC_DOJ,
	HSBC_POD,
	PODTL,
	TL_TYPE,
	HSBC_PROJECT_NAME,
	STAFF_CATEGORY,
	MENTION_LWD,
	MSA_ROLE,
	USER_TYPE,
	CSDEPT_ID,
	DELETED,
	USER_NAME,
	NICKNAME,
	PASSWORD,
	SALT
  </sql>
  
  <sql id="vagueQueryByStaffNameOrEhrSql">
  			be.PK_ID,
			be.E_HR,
			be.LOB,
			be.STAFF_NAME,
			be.RM_USER_ID,
			be.STAFF_REGION,
			be.STAFF_LOCATION,
			be.ROLE,
			be.SKILL,
			be.ENGAGEMENT_TYPE,
			be.BILL_RATE_TYPE,
			be.BILL_CURRENCY,
			be.BILL_RATE,
			be.EMPLOYEE_TYPE,
			be.RESOURCE_STATUS,
			be.GRADUATION_DATE,
			be.ENTRY_DATE,
			be.Email,
			be.CSI_PRO_NUMBER,
			be.CSI_PRO_STARTDATE,
			be.CSI_PRO_NAME,
			be.ITINDUSTRY_WORK_YEAR,
			be.TERMINATION_DATE,
			be.REASON_FOR_TERMINATION,
			be.CREATE_TIME,
	        be.UPDATE_TIME,
	        be.BACKBONE,
	        be.ASSESSED,
			bhe.EMPLOYEE_ID,
			bhe.HSBC_STAFF_ID,
			bhe.LN,
			bhe.LOCATION_TYPE,
			bhe.ONSHORE_OR_OFFSHORE,
			bhe.GB_GF,
			bhe.HSBC_SUBDEPT_ID,
			bhe.HSBC_THRID_DEPT_ID,
			bhe.HSBC_MANAGER,
			bhe.SOW,
			bhe.SOW_EXPIRED_DATE,
			bhe.HSBC_DOJ,
			bhe.HSBC_POD,
			bhe.PODTL,
			bhe.TL_TYPE,
			bhe.HSBC_PROJECT_NAME,
			bhe.STAFF_CATEGORY,
			bhe.MENTION_LWD,
			bhe.MSA_ROLE,
			
			ms.MS_LEVEL,
			
			bur.PK_ID as ROLE_ID,
			bur.USER_TYPE,
			bur.CSDEPT_ID,
	        bur.DELETED
	        
  </sql>
  
  	<select id="selectByExample" parameterType="com.chinasoft.employee.dao.entity.EmployeeDOExample" resultMap="employAndHsbcResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 14 14:30:12 CST 2019.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="RM_User_Column_List_1" />
    FROM b_employee
	LEFT JOIN b_hsbc_employee ON b_employee.PK_ID = b_hsbc_employee.EMPLOYEE_ID
	LEFT JOIN b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
	LEFT JOIN b_user_role ON b_employee.PK_ID = b_user_role.EMPLOYEE_ID
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  	
	<!-- 自定义 -->
	<select id="selectByEmployeeStaffName" parameterType="java.lang.String" resultMap="employAndHsbcResultMap">
		SELECT 
		<include refid = "vagueQueryByStaffNameOrEhrSql"/>
		FROM b_employee be
		LEFT JOIN b_hsbc_employee bhe ON be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		LEFT JOIN b_user_role bur ON be.PK_ID = bur.EMPLOYEE_ID
		WHERE 
		    1=1 
		<if test="staffNameOrEhr!=null and staffNameOrEhr.trim()!=''">
           AND 
              (be.STAFF_NAME like '%${staffNameOrEhr}%' 
           OR
			 be.E_HR like '%${staffNameOrEhr}%')
        </if>
        <if test="resourceStatus!=null">
           AND
            be.RESOURCE_STATUS=#{resourceStatus}
        </if>
        <if test="csdeptId!=null">
           AND
            bur.CSDEPT_ID = #{csdeptId}
		</if>
        ORDER BY be.ENTRY_DATE DESC
	</select>
	
	<select id="selectNickNameByUserId" parameterType="java.lang.String"	 resultType="java.lang.String">
	       select STAFF_NAME from b_employee where RM_USER_ID=#{rmUserId}
    </select>
    
    <select id="vagueQueryByStaffNameOrEhrAndCSDeptIdListAndRmUserId" resultMap="employAndHsbcResultMap">
    	select
    	<include refid = "vagueQueryByStaffNameOrEhrSql" />
		FROM b_employee be
		LEFT JOIN b_hsbc_employee bhe ON be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		LEFT JOIN b_user_role bur on be.PK_ID = bur.EMPLOYEE_ID
		WHERE 1=1 
		<if test="staffNameOrEhr!=null and staffNameOrEhr.trim()!=''">
           AND 
              (be.STAFF_NAME like '%${staffNameOrEhr}%' 
           OR
			 be.E_HR like '%${staffNameOrEhr}%')
        </if>
        <if test="resourceStatus!=null">
           AND
            be.RESOURCE_STATUS=#{resourceStatus}
        </if>
        <if test="csDeptIdList!=null and csDeptIdList.size()>0">
           AND
			bur.CSDEPT_ID in
			<foreach item="item" index="index" collection="csDeptIdList" open="(" separator="," close=")">
				#{item}
			</foreach>
        </if>
		<if test="rmUserId!=null">
			and be.RM_USER_ID = #{rmUserId}
		</if>
        ORDER BY be.ENTRY_DATE DESC
  	</select>

	<select id="vagueQueryByStaffNameOrIdOrEhrOrLOBAndCSDeptDOListAndRmUserId" resultMap="employAndHsbcResultMap">
		select
		<include refid = "vagueQueryByStaffNameOrEhrSql" />
		FROM b_employee be
		LEFT JOIN b_hsbc_employee bhe ON be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		LEFT JOIN b_user_role bur on be.PK_ID = bur.EMPLOYEE_ID
		WHERE 1=1
		<if test="staffNameOrIdOrEhrOrLOB!=null and staffNameOrIdOrEhrOrLOB.trim()!=''">
			AND
			(be.STAFF_NAME like '%${staffNameOrIdOrEhrOrLOB}%'
			OR
			be.E_HR like '%${staffNameOrIdOrEhrOrLOB}%'
			OR
			be.LOB like '%${staffNameOrIdOrEhrOrLOB}%'
			OR
			bhe.HSBC_STAFF_ID like '%${staffNameOrIdOrEhrOrLOB}%')
		</if>
		<if  test="resourceStatusList!=null and resourceStatusList.size()>0">
			AND
			be.RESOURCE_STATUS IN 
			<foreach item="resourceStatus" index="index" collection="resourceStatusList" open="(" separator="," close=")">
				#{resourceStatus}
			</foreach>
		</if>
		<if test="csDeptDOList!=null and csDeptDOList.size()>0">
			AND
			bur.CSDEPT_ID in
			<foreach item="item" index="index" collection="csDeptDOList" open="(" separator="," close=")">
				#{item.pkId}
			</foreach>
		</if>
		<if test="rmUserId!=null and rmUserId.trim()!=''">
			and be.RM_USER_ID = #{rmUserId}
		</if>
		<if test="filterRmUserId!=null and filterRmUserId.trim()!=''">
			and be.RM_USER_ID = #{filterRmUserId}
		</if>
		<if test="engagementType!=null">
			and be.ENGAGEMENT_TYPE = #{engagementType}
		</if>
		ORDER BY be.UPDATE_TIME DESC
	</select>
    
    <select id="vagueQueryByStaffNameOrEhrAndRmUserId" resultMap="employAndHsbcResultMap">
    	select
    	<include refid="vagueQueryByStaffNameOrEhrSql" />
    	from b_employee be
		left join b_hsbc_employee bhe on be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		left join b_user_role bur on be.PK_ID = bur.EMPLOYEE_ID
		where 1=1 
		<if test="staffNameOrEhr!=null and staffNameOrEhr.trim()!=''">
           and (be.STAFF_NAME like '%${staffNameOrEhr}%' 
           or be.E_HR like '%${staffNameOrEhr}%')
        </if>
        <if test="resourceStatus!=null">
           and
            be.RESOURCE_STATUS=#{resourceStatus}
        </if>
        <if test="filterCsdeptId!=null">
           and
            bur.CSDEPT_ID = #{filterCsdeptId}
        </if>
        <if test="rmUserId!=null and rmUserId.trim()!=''">
        	and be.RM_USER_ID = #{rmUserId}
        </if>
        <if test="engagementType!=null">
        	and be.ENGAGEMENT_TYPE = #{engagementType}
        </if>
        <if test="csdeptId!=null">
        	and bur.CSDEPT_ID = #{csdeptId}
        </if>
        ORDER BY be.ENTRY_DATE DESC
    </select>
    
    <select id="vagueQueryByStaffNameOrEhrAndEmployeeIdLst" resultMap="employAndHsbcResultMap">
    	select
    	<include refid="vagueQueryByStaffNameOrEhrSql" />
    	from b_employee be
		left join b_hsbc_employee bhe on be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		left join b_user_role bur on be.PK_ID = bur.EMPLOYEE_ID
		where 1=1 
		<if test="staffNameOrEhr!=null and staffNameOrEhr.trim()!=''">
           and (be.STAFF_NAME like '%${staffNameOrEhr}%' 
           or be.E_HR like '%${staffNameOrEhr}%')
        </if>
        <if test="resourceStatus!=null">
           and
            be.RESOURCE_STATUS=#{resourceStatus}
        </if>
        <if test="filterCsdeptId!=null">
           and
            bur.CSDEPT_ID = #{filterCsdeptId}
        </if>
        <if test="employeeIdLst!=null">
        	and be.PK_ID in
       		<foreach collection="employeeIdLst" index="index" item="item" open="(" separator="," close=")">  
            	#{item}  
        	</foreach>
        </if>
        ORDER BY be.ENTRY_DATE DESC
  	</select>

	<select id="queryEmployeeDetailByPkId" parameterType="java.lang.String"
		resultMap="employAndHsbcResultMap">
		select
		<include refid="vagueQueryByStaffNameOrEhrSql" />
		FROM b_employee be
		LEFT JOIN b_hsbc_employee bhe ON be.PK_ID = bhe.EMPLOYEE_ID
		left join b_ms_employee ms on be.PK_ID = ms.EMPLOYEE_ID
		left join b_user_role bur on be.PK_ID = bur.EMPLOYEE_ID
		where be.PK_ID = #{pkId,jdbcType=VARCHAR}
		and bur.PK_ID = #{roleId,jdbcType=VARCHAR}
	</select>
    <select id="queryLoginInfoBylob" parameterType="java.lang.String" resultMap="employeeAndUserRoleDO">
    	SELECT b.USER_TYPE,b.CSDEPT_ID,t.E_HR,t.Email,t.STAFF_NAME FROM b_employee t 
	  	LEFT JOIN b_user_role b 
	  	ON t.PK_ID=b.EMPLOYEE_ID 
	  	WHERE t.LOB=#{lob,jdbcType=VARCHAR}
  	</select>
  	<select id="queryEmployeeInfo" parameterType="boolean" resultMap="ehrAndEmpIdDO">
    	 SELECT b.PK_ID,b.E_HR FROM b_employee b 
  	</select>
  	<select id="queryRoleAndEmpInfo" resultMap="userRoleDO">
     SELECT b.PK_ID FROM b_user_role b LEFT JOIN b_employee e ON b.EMPLOYEE_ID=e.PK_ID LEFT JOIN b_cs_dept d ON b.CSDEPT_ID=d.PK_ID WHERE e.E_HR IN (SELECT t.USER_NAME FROM t_user t where t.USER_TYPE=5)
  	</select>
</mapper>



